// modified from
// https://cssdeck.com/labs/tooltipscss3

.tool-tip {
	visibility: hidden;
	opacity: 0;
	z-index: 999;
	position: absolute;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;
}

.tool-tip.top {
	top: auto;
	bottom: 70%;
}

.tool-tip.top:after {
	position: absolute;
	bottom: -12px;
	left: 50%;
	margin-left: -7px;
	content: ' ';
	height: 0px;
	width: 0px;
	border: 6px solid transparent;
	border-top-color: #a1a1aa;
	// tailwind zinc-400
}

*:not(.on-focus):hover>.tool-tip,
.on-focus input:focus+.tool-tip {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;
}