<!DOCTYPE html>
<html lang="en-us" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{pageTitle}}</title>
        <link rel="icon" type="image/x-icon" href="./favicon.jfif" />
    </head>
    <body>
        <h1>this is the admin page</h1>
        <a href="/">Go Back</a>
    </body>
</html>